/* media for articles */

.web {
    display: block;
}

@media screen and (max-width: 600px) {
    .web {
        display: none;
    }
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    width: 100%;
}

.card .card-body {
    padding: 2rem 2.25rem;
}

.card.card-px-0 .card-body,
.card.card-px-0 .card-footer,
.card.card-px-0 .card-header {
    padding-left: 0;
    padding-right: 0;
}

.card.card-py-0 .card-body,
.card.card-py-0 .card-footer,
.card.card-py-0 .card-header {
    padding-top: 0;
    padding-bottom: 0;
}

.card.card-p-0 .card-body,
.card.card-p-0 .card-footer,
.card.card-p-0 .card-header {
    padding: 0;
}

h1 {
    font-weight: 500;
    line-height: 1.1;
    color: #ffffff;
}

.card {
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border-radius: 0.95rem;
    box-shadow: 0 0 20px rgba(94, 98, 120, 0.04);
}